<div class="container-fluid">
  <div class="row">
    <div class="col-md-2">
      <!--Sidebar content-->

      <form class="form-inline">
        Search:
        <input ng-model="$ctrl.query"  class="form-control mr-sm-2" type="text" placeholder="Search">
      </form>

      <p>
        Sort by:
        <select ng-model="$ctrl.orderProp">
          <option value="name">Alphabetical</option>
          <option value="population">Population</option>
        </select>
      </p>

    </div>
    <div class="col-md-10">

      <ul class="list-group">
        <li ng-repeat="country in $ctrl.countries | filter:$ctrl.query | orderBy:$ctrl.orderProp"
            class="list-group-item">
          {{country.name}}: {{country.population}}
        </li>
      </ul>

    </div>
  </div>
</div>